.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #282c34;
  padding: 15px;
}

.logo {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

body{
  background-color: lightblue;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper .wrapper1{
  grid-column: 1/3;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper .wrapper1 h1{
  grid-column: 1/4;
}

.wrapper .wrapper2{
  grid-column: 3/4;
  text-align: center;
}

section div ul li{
  list-style: none;
}

.delete-btn{
  margin-left: 8;
  padding: 5px;
  background-color: red;
}

@media print {
  .delete-btn,
  button {
    display: none;
  }

  .header {
    display: block; 
    margin-top: -40px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    background: white;
    z-index: 999;
  }

  .header h1{
    font-weight: bold;
  }

  .header h2 {
    display: none;
    margin: 0;
    padding: 0;
  }

  section h2 {
    border-bottom: 1px solid #000;
    margin-top: 20px;
    font-size: 1.2em;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
